<%= turbo_frame_tag 'person_states_select', data: { 
    update_url: states_select_people_url,
    request_param_name: 'country' 
  } do %>
  <div class="mt-4">
    <%= form.label :state, style: "display: block" %>
    <%= form.select :state, options_for_select(states), { prompt: 'Select one' },
    data: { 
      dependent_fields_target: "hasDependents",
      dependant_turbo_frame_selector: '#person_cities_select'
    } %>
  </div>
<% end %>